#aboutContainer {
}

.markerbig {
	border: 0;
	width: 200px;
    height: 231px;
    margin-left: 60px;
}

.iframe-content {
  max-width: 400px;
  max-height: 225px;
}
.intrinsic-content {
  position: relative;
  height: 0;
  overflow: hidden;
}
/* 16x9 Aspect Ratio */
.intrinsic-content-16x9 {
  padding-bottom: 56.25%;
}
/* 4x3 Aspect Ratio */
.intrinsic-content-4x3 {
  padding-bottom: 75%;
}

.intrinsic-content iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
