
.dropdown {
    position: relative;
    display: inline-block;
    color: #000;
    /*border: 1px solid #ABABAB; */
    }

#categories-content {
    width: 150px;
    display: none;
    position: absolute;
    bottom: 40px;
    color: #000;
    background-color: #FFF;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    max-height: 300px;
    overflow-y: scroll;
}

#categories-content li {
    list-style-type: none;
}

.dropdown-btn {
    width: 150px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    color: #000000;
    background: #ffffff;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    background-color: rgba(0,0,0,0.35);
    color: #FFF;
    border: 1px solid #FFF;
    height: 40px;
    margin-right: 15px;

}

.dropdown-btn:hover {
    cursor: pointer;
   text-decoration: none;
}

.item {
    border-bottom: 1px solid #000;
    padding: 10px;

}
