.bolded {
    font-weight: bold
}

.block {
    display: block;
}

.minHeight15 {
    min-height: 15px
}

.breakWord {
    word-wrap: break-word;
}

.topicText {
    margin-bottom: 35px;
    color: #585858;
}

/* Strike is a line with some text in the middle; ---- text ---- */
.strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap; 
}

.strike > span {
    position: relative;
    display: inline-block;
}

.strike > span:before,
.strike > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: 1px solid black;
}

.strike > span:before {
    right: 100%;
    margin-right: 15px;
}

.strike > span:after {
    left: 100%;
    margin-left: 15px;
}
