body {
	background-color: #FFFFFF;
}

.link {
    cursor: pointer;
    color: #337ab7;
}

.link:hover { 
    text-decoration: underline;
    color: #23527c;
}

.navbar {
	margin-bottom: 0 !important;
}

/* Navbar header */
.app-name-navbar > a {
    text-decoration:  none;
}

.required{
    position:relative;
}
.required:after{
    position:absolute;
    content:'*';
    color:red;
    right:-10px;
    top:0;
}

.right-container {
    position: relative;
    float: left;
    left: 23px; /* So that the container and map wouldnt overlap each other */
}

.red-border{
	border-style: solid !important;
    border-color: red !important;
}

.has-error .form-control {
    border-color: red !important;
}

.dark-red-text{
	color: darkRed !important;
}

.white-background{
    background-color:white !important;
    
}

.white-background:hover {
    background-color: #eee !important;
    cursor: pointer;
}
