.brandlogo {
    border: 0;
    width: 199px;
    height: 63px;


}



body {
    overflow: hidden;
}

html {
    height: 100%;
    -ms-content-zooming: none | zoom;
}

a {
    /*color: #33b78e !important;*/
    color: #12B381;
}

img{
    height:100%;
    width:100%;

    position:absolute;
     z-index: 999;
    margin:auto;
}

.right-container {
    /* color: #FFF; */
    color: #4E4E4E;
    z-index: 99;
    width: 400px;
    top: 60px;
    height: 100%;
    /*background-color: rgba(0,0,0,0.55);*/
    background-color: rgba(255, 255, 255, 0.7);
    overflow-y: auto;
    overflow-x: hidden;

}

.rightContainerContent {
    height: 100%;
}

.rightContainerBottomBar {
    position: absolute;
    right: 2px;
    bottom: 5px;
}

.bottomBarLink {
    padding-right: 8px;
}

.form-control {
    border-radius: 3px !important;
}

.invalid {
    border-style: solid !important;
    border-width: 2px !important;
    border-color: rgb(234, 89, 98) !important;
}

.content {
    position: absolute;
    z-index: 0;
    top: 0;
}

.page-container {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
}

.link {
    cursor: pointer;
    /*color: #FFFFFF; */
    color: #4E4E4E;
    text-decoration: none;
}

.link:hover { 
   /* text-decoration: underline; */
    /* color: #23527c; */
   /* If white color background do color: #BFEEF7; */
    color: #212121;
    text-decoration: none;
}


.red-border{
    border-style: solid !important;
    border-color: red !important;
}

.has-error .form-control {
    border-color: red !important;
}

.dark-red-text{
    /*color: darkRed !important;*/
    color: #FF4545 !important;
}

.white-background{
    background-color:white !important;
    
}

.white-background:hover {
    background-color: #eee !important;
    cursor: pointer;
}

.hidden {
    display: none !important;
}

.hiddenForToggle {
    display: none;
}


#messageComponent {
    z-index: 9999;
    position: absolute;
    display: none;
    text-align: center;
    vertical-align:middle;
    font-size: 16px;
    color: #FFF;
    top: 60px;
    left: 50px;
    height: 60px;
    padding: 10px;
}

#homeIcon {
    display: block;   
    position: absolute;
    background-image: url("assets/back_to_home_dark_icon.png");
    background-size: cover;
    top: 10px;
    left: 10px;
    border: 0;
    width: 35px;
    height: 35px;
    opacity: 0.8;
    filter: alpha(opacity=40); /* For IE8 and earlier */

}

#homeIcon:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

.sideBarContent {
    position: relative;
    padding: 40px;
    height: 100%;
}

.centeredVertHor {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

/*** ANIMATIONS ***/

@keyframes toDesktopAnimation {
    to {right: 10px;
        top: 60px;}

}

.toDesktop {
    animation-name: toDesktopAnimation;
    animation-duration: 0.5s;
}

@keyframes toMobileAnimation {
    to {right: 10px;
        top: 131px;}

}

.toMobile {
    animation-name: toMobileAnimation;
    animation-duration: 0.5s;
}

/***********************/
/*       DESKTOP       */
/***********************/

@media (min-width: 800px) {
    .right-container {
        right: 10px;
        position: absolute;
    }
}


/***********************/
/*   TABLET / MOBILE   */
/***********************/

@media (max-width: 799px) {
    .right-container {
        position: fixed;
        right: 10px;
        top: 131px;
     /*   top: 49%; */
    }

    .toggleRightContainer {
        position: absolute;
        bottom: 10px;
        z-index: 999;
        width: 100%;
        height: 50px;
        background-color: rgba(228,228,228,0.55);

    }
}