body {
    overflow: hidden;
    height: 100%;
}

html {
    height: 100%;
    -ms-content-zooming: none | zoom;
}

a {
    /*color: #33b78e !important;*/
    color: #12B381;
}

h1 {
    margin-top: 0px !important;
}

img{
    height:100%;
    width:100%;

    position:absolute;
     z-index: 999;
    margin:auto;
}

dd {
    margin: 0 0 10px;
}

/* Custom scrollbar width */
::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    /*background: rgba(86, 151, 212, 0.5); */
 /*   background: rgba(77, 77, 77, 0.5);*/
    background: rgba(242, 242, 242, 0.5);

    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
/* color when scrollbar is inactive */
::-webkit-scrollbar-thumb:window-inactive {
   /* background: rgba(86, 151, 212, 0.5);*/
    background: rgba(242, 242, 242, 0.5);
   /* background: rgba(77, 77, 77, 0.5); */
/*    background: rgba(166, 166, 166, 0.5); */
}

.right-container {
    /* For black background: */
    /* color: #FFF; */
    /*background-color: rgba(0,0,0,0.55);*/

    color: #4E4E4E;
    z-index: 99;
    width: 400px;
    top: 60px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    overflow-x: hidden;
    padding-top: 10px;
}

#rightContainerContent {
    overflow-y: auto;
    height: 100%;
    position: relative;
    padding-left: 40px;
    padding-right: 40px;
}

#rightContainerBottomBar {
    height: 35px;
    padding-top: 5px;
    right: 2px;
    position: absolute;
}

.bottomBarLink {
    padding-right: 8px;
    position: relative;

}

.form-control {
    border-radius: 3px !important;
}

.invalid {
    border-style: solid !important;
    border-width: 2px !important;
    border-color: rgb(234, 89, 98) !important;
}

.content {
    position: absolute;
    z-index: 0;
    top: 0;
}

.page-container {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
}

.link {
    cursor: pointer;
    /*color: #FFFFFF; */
    color: #4E4E4E;
    text-decoration: none;
}

.link:hover { 
   /* text-decoration: underline; */
    /* color: #23527c; */
   /* If white color background do color: #BFEEF7; */
    color: #212121;
    text-decoration: none;
}


.red-border{
    border-style: solid !important;
    border-color: red !important;
}

.has-error .form-control {
    border-color: red !important;
}

.dark-red-text{
    /*color: darkRed !important;*/
    color: #FF4545 !important;
}

.white-background{
    background-color:white !important;
    
}

.white-background:hover {
    background-color: #eee !important;
    cursor: pointer;
}

.hidden {
    display: none !important;
}

.hiddenForToggle {
    display: none;
}


#messageComponent {
    z-index: 9999;
    position: absolute;
    display: none;
    text-align: center;
    vertical-align:middle;
    font-size: 18px;
    color: #FFF;
    top: 60px;
    left: 50px;
    padding: 10px;
    border-radius: 30px;
}

.sideBarContent {
    position: relative;
    padding: 40px;
    height: 100%;
}

.centeredVertHor {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

/*** ANIMATIONS ***/

@keyframes toDesktopAnimation {
    to {right: 10px;
        top: 60px;}

}

.toDesktop {
    animation-name: toDesktopAnimation;
    animation-duration: 0.5s;
}

@keyframes toMobileAnimation {
    to {right: 0px;
        top: 131px;}

}

.toMobile {
    animation-name: toMobileAnimation;
    animation-duration: 0.5s;
}

/***********************/
/*       DESKTOP       */
/***********************/

@media (min-width: 800px) {
    .right-container {
        right: 10px;
        position: absolute;
    }
}


/***********************/
/*   TABLET / MOBILE   */
/***********************/

@media (max-width: 799px) {
    .right-container {
        position: fixed;
        right: 0px;
        top: 131px;
     /*   top: 49%; */
    }

    .toggleRightContainer {
        position: absolute;
        bottom: 10px;
        z-index: 999;
        width: 100%;
        height: 50px;
        background-color: rgba(228,228,228,0.55);

    }

}

/***********************/
/*       MOBILE        */
/***********************/

@media (max-width: 450px) {

    #rightContainerContent {
        padding-left: 20px;
        padding-right: 20px;
    }

}