body {
	background-color: #FFFFFF;
    color: #FFF !important;
}

html {
    height: 100%;
}

a {
    /*color: #33b78e !important;*/
    color: #12B381;
}

img{
    height:100%;
    width:100%;

    position:absolute;
     z-index: 999;
    margin:auto;
}

.right-container {
    z-index: 99;
    padding: 40px;
    width: 400px;
    top: 60px;
    height: 100%;
    background-color: rgba(0,0,0,0.55);
    overflow-y: auto;
}

.content {
    position: absolute;
    z-index: 0;
    top: 0;
}

.page-container {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
}

.link {
    cursor: pointer;
    color: #FFFFFF;
    /*color: #33b78e; */
}

.link:hover { 
   /* text-decoration: underline; */
    /* color: #23527c; */
    color: #BFEEF7;
}


.red-border{
    border-style: solid !important;
    border-color: red !important;
}

.has-error .form-control {
    border-color: red !important;
}

.dark-red-text{
    /*color: darkRed !important;*/
    color: #FF4545 !important;
}

.white-background{
    background-color:white !important;
    
}

.white-background:hover {
    background-color: #eee !important;
    cursor: pointer;
}

.hidden {
    display: none !important;
}

/* Navbar */

#navbar {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    z-index: 99 !important;   
    list-style-type: none;
    margin: 0;
    font-size: 18px;
    background-color: rgba(255,255,255,0.8) !important;
    color: #12B381;
    text-align: center;
}

#navbar:hover {
    color: #0C845F;
}

#navbar li {
    padding-left: 10px;
    padding-right: 10px;
    height: 50px;
    text-align: center;
    display: inline;
}

#navbar li a {
    text-decoration: none;
}


.navbar ul {
    display: inline-block;
    height: 50px;
}

#navbar-logo {
    font-size: 23px;
}

.navbar-left-container {
    display: inline;
    position: fixed;
    left: 0px;
    top: 8px;
    padding-left: 5%;
}

.navbar-right-container {
    display: inline;
    position: fixed;
    right: 0px;
    top: 12px;
    padding-right: 5%;

}

/***********************/
/*       DESKTOP       */
/***********************/

@media (min-width: 800px) {
    .right-container {
        right: 10px;
        position: absolute;
    }

    /* Navbar */

    .navbar-toggle-mobile {
        display: none !important;
    }

}


/***********************/
/*   TABLET / MOBILE   */
/***********************/

@media (max-width: 799px) {
    .right-container {
        position: fixed;
        left: 10px;
        top: 49%;
    }

    /* Navbar */

    .navbar-desktop-element {
        display: none !important;
    }


    #navbar-close {
        position: absolute;
        top: 10px;
        right: 17px;
        display: block;
        width: 20px;
        height: 20px;
        z-index: 999;
    }
    

    #navbar-mobile {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        font-size: 30px;
        list-style-type: none;
        z-index: 99 !important;   
        background-color: rgb(0, 0, 0)!important;
    }

    #navbar-mobile li {
        display: block;
        text-align: center;
    }

    #navbar-mobile li a {
        text-decoration: none;
    }

    #navbar-mobile ul {
        position: absolute;
        width: 100%;
        left: 0;
        top: 35%;
        padding: 0px;
    }


}