body {
	background-color: #FFFFFF;
}

.navbar {
	margin-bottom: 0 !important;
}

/* Navbar header */
.app-name-navbar > a {
    text-decoration:  none;
}

.required div{
    position:relative;
}
.required div:after{
    position:absolute;
    content:'*';
    color:red;
    right:-10px;
    top:0;
}