.brandlogo {
    border: 0;
    width: 199px;
    height: 63px;


}



body {
}

html {
    height: 100%;
    -ms-content-zooming: none | zoom;
}

a {
    /*color: #33b78e !important;*/
    color: #12B381;
}

img{
    height:100%;
    width:100%;

    position:absolute;
     z-index: 999;
    margin:auto;
}

.right-container {
    color: #FFF;
    z-index: 99;
    padding: 40px;
    width: 400px;
    top: 60px;
    height: 100%;
    background-color: rgba(0,0,0,0.55);
    overflow-y: auto;
}

.form-control {
    border-radius: 3px !important;
}

.content {
    position: absolute;
    z-index: 0;
    top: 0;
}

.page-container {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
}

.link {
    cursor: pointer;
    color: #FFFFFF;
    /*color: #33b78e; */
}

.link:hover { 
   /* text-decoration: underline; */
    /* color: #23527c; */
    color: #BFEEF7;
}


.red-border{
    border-style: solid !important;
    border-color: red !important;
}

.has-error .form-control {
    border-color: red !important;
}

.dark-red-text{
    /*color: darkRed !important;*/
    color: #FF4545 !important;
}

.white-background{
    background-color:white !important;
    
}

.white-background:hover {
    background-color: #eee !important;
    cursor: pointer;
}

.hidden {
    display: none !important;
}

/***********************/
/*       DESKTOP       */
/***********************/

@media (min-width: 800px) {
    .right-container {
        right: 10px;
        position: absolute;
    }

    /* Navbar */

    .navbar-toggle-mobile {
        display: none !important;
    }

}


/***********************/
/*   TABLET / MOBILE   */
/***********************/

@media (max-width: 799px) {
    .right-container {
        position: fixed;
        left: 10px;
        top: 49%;
    }

    /* Navbar */

    .navbar-desktop-element {
        display: none !important;
    }


    #navbar-close {
        position: absolute;
        top: 10px;
        right: 17px;
        display: block;
        width: 20px;
        height: 20px;
    }
    

    #navbar-mobile {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        font-size: 30px;
        list-style-type: none;
        z-index: 99 !important;   
        background-color: rgb(0, 0, 0)!important;
    }

    #navbar-mobile li {
        display: block;
        text-align: center;
    }

    #navbar-mobile li a {
        text-decoration: none;
    }

    #navbar-mobile ul {
        position: absolute;
        width: 100%;
        left: 0;
        top: 35%;
        padding: 0px;
    }


}