body {
	background-color: #FFFFFF;
    color: #FFF !important;
}

a {
    /*color: #33b78e !important;*/
    color: #12B381 !important;
}

img{
    height:100%;
    width:100%;

    position:absolute;
    /*top:-50%; bottom:-50%;
    left:-50%; right:-50%;

    height:auto;
    width:auto;

    */
     z-index: 999;
    margin:auto;
}

.content {
    position: absolute;
    z-index: 0;
    top: 0;
}

.page-container {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
}

.right-container {
    z-index: 99;
    padding: 40px;
    width: 400px;
    top: 60px;
    height: 100%;
    background-color: rgba(0,0,0,0.55);
    overflow-y: auto;
}

/* Tablet */
@media (max-width: 800px) {
    .right-container {
        position: fixed;
        left: 10px;
        top: 49%;
    }
}

/* Desktop */
@media (min-width: 801px) {
    .right-container {
        right: 10px;
        position: absolute;
    }
}


.frontpage {
     position:absolute;
    height:100%;
    width:100%;
     /*z-index: 999;*/
     overflow-y: hidden;
   /* max-height: 500px;*/

    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);

}

.frontpage.closed {
    max-height: 0;
}

.link {
    cursor: pointer;
    color: #FFFFFF;
    /*color: #33b78e; */
}

.link:hover { 
   /* text-decoration: underline; */
    /* color: #23527c; */
    color: #BFEEF7;
}

.navbar {
	margin-bottom: 0 !important;
    z-index: 99 !important;   
    background-color: rgba(255,255,255,0.8) !important;
}

/* Navbar header */
.app-name-navbar > a {
    text-decoration:  none;
}

.required{
    position:relative;
}
.required:after{
    position:absolute;
    content:'*';
    color:red;
    right:-10px;
    top:0;
}

/*
old code

@media (max-width: 991px) {
    .right-container {
        position: relative;
        float: left;
        left: 20px;
    }
}

@media (min-width: 992px) {
    .right-container {
        position: relative;
        float: left;
        left: 50px;
    }
}
*/

.red-border{
	border-style: solid !important;
    border-color: red !important;
}

.has-error .form-control {
    border-color: red !important;
}

.dark-red-text{
	/*color: darkRed !important;*/
    color: #FF4545 !important;
}

.white-background{
    background-color:white !important;
    
}

.white-background:hover {
    background-color: #eee !important;
    cursor: pointer;
}
