
/*
@media (max-width: 991px) {
    #map-canvas {
		float: left;
		max-width: none;
		left: 15px;
    }
}

@media (min-width: 992px) {
    #map-canvas {
		float: left;
		max-width: none;
		left: 25px;
    }
}
*/

#map-canvas {
    max-width: none;
    z-index: 1;
}


.createNewEventMarkerLink {
	color: #397AB7;
}


.context_menu_item {
	font-size: 150%;
}

.context_menu {
	background-color: #FFF;
	padding: 5px;
}

.mapZoomOutButton {
    color: #FFF;
}
.mapZoomInButton {
    color: #FFF;
}

.infowindowContainer {
  /* background-color: rgba(228,228,228,.55); */
   color: #4E4E4E;
}