#navbar {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    z-index: 99 !important;   
    list-style-type: none;
    margin: 0;
    font-size: 18px;
    background-color: rgba(255,255,255,0.8) !important;
    color: #12B381;
    text-align: center;
}

#navbar:hover {
    color: #0C845F;
}

#navbar li {
    padding-left: 10px;
    padding-right: 10px;
    height: 50px;
    text-align: center;
    display: inline;
}

#navbar li a {
    text-decoration: none;
}


.navbar ul {
    display: inline-block;
    height: 50px;
}

#navbarLogoContainer {
    position: relative;
    display: inline-block;
    width: 140px;
    height: 36px;
    top: 10px;
}

#navbar-logo {
    background-image: url("assets/seeya_logo.png");
    background-size: cover;
    display: block;
    width: 126px;
    height: 40px;

}

#navbar-logo a {

    position: absolute;
    left: 0px;
    width: 100%;
    height: 100%;

}

.navbar-left-container {
    position: fixed;
    left: 0px;
    top: -4px;
    padding-left: 5%;
}

.navbar-right-container {
    display: inline;
    position: fixed;
    right: 0px;
    top: 12px;
    padding-right: 5%;

}

/***********************/
/*       DESKTOP       */
/***********************/

@media (min-width: 800px) {

    .navbarToggleMobile {
        display: none !important;
    }

}

/***********************/
/*   TABLET / MOBILE   */
/***********************/

@media (max-width: 799px) {

 .navbar-desktop-element {
        display: none !important;
    }


    #navbarClose {
        position: absolute;
        top: 10px;
        right: 17px;
        display: block;
        width: 20px;
        height: 20px;
        font-size: 30px;
        color: #FFF;
        cursor: pointer;
    }

    .navbarToggleMobile {
        display: block;
        background-image: url("assets/navbar_toggle.png");
        background-size: cover;
        position: relative;
        top: 1px;
        width: 30px;
        height: 30px;
        cursor: pointer;

    }
    

    #navbar-mobile {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        font-size: 30px;
        list-style-type: none;
        z-index: 99 !important;   
        background-color: rgb(0, 0, 0)!important;
    }

    #navbar-mobile li {
        display: block;
        text-align: center;
    }

    #navbar-mobile li a {
        text-decoration: none;
    }

    #navbar-mobile ul {
        position: absolute;
        width: 100%;
        left: 0;
        top: 35%;
        padding: 0px;
    }


}