#navbar {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    z-index: 99 !important;   
    list-style-type: none;
    margin: 0;
    font-size: 18px;
    background-color: rgba(255,255,255,0.8) !important;
    color: #12B381;
    text-align: center;
}

#navbar:hover {
    color: #0C845F;
}

#navbar li {
    padding-left: 10px;
    padding-right: 10px;
    height: 50px;
    text-align: center;
    display: inline;
}

#navbar li a {
    text-decoration: none;
}


.navbar ul {
    display: inline-block;
    height: 50px;
}

#navbar-logo {
    margin-right: 25px;
    background-image: url("assets/logo_test.png");
    background-size: contain;
    height: 35px;
    width: 35px;
    position: relative;
    top: 12px;
    display: inline-block;

}

#navbar-logo a {

    position: absolute;
    left: 0px;
    width: 100%;
    height: 100%;

}

.navbar-left-container {
    position: fixed;
    left: 0px;
    top: -4px;
    padding-left: 5%;
}

.navbar-right-container {
    display: inline;
    position: fixed;
    right: 0px;
    top: 12px;
    padding-right: 5%;

}