#noMatchContainer {


	#nomatchmarker {

		background-image: url("assets/notfoundmarker.png");
        background-size: cover;
          width: 100px;
            height: 100px;
            display: block;
            margin-left: auto;
            margin-right: auto;

		
	}



}