.signupContent {
    width: 100%;
    height: 100%;
    background-color: white;
    color:black;
    z-index: 100;
    top: 0;
    left: 0;
    position:absolute;
}   

.invalid {
    border-style: solid !important;
    border-width: 2px !important;
    border-color: red !important;
}
