#singeSelectDropdown {
    position: relative;
    display: inline-block;
    color: #000;
    width:100%;
}

#singleSelectInput {
    cursor: pointer;
}

#singleSelectContent {
    width: 100% !important;
    display: none;
    position: absolute;
    bottom: 35px;
    color: #000;
    background-color: #FFF;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #ADADAD;
    padding-top: 5px;
    padding-bottom: 5px;
}

/*
#categorySelectEventform {
    width: 100% !important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 10px 20px 10px 10px;
    text-decoration: none;
    background-color: #FFF;
    border: 1px solid #FFF;
    margin-right: 15px;
}

#categorySelectEventform:hover {
    cursor: pointer;
    text-decoration: none;
}*/

/* MULTI COLUMNS */
.itemDropdownSingleSelect {
    width: 43%;
    display: inline-block;
    cursor: pointer;
}

.itemDropdownSingleSelect div {
    padding: 8px;
}

.itemDropdownSingleSelect div:hover {
    background-color: #EAEAEA;
}

.itemRightDropdownSingleSelect {
    margin-left: 5%;
}

.itemLeftDropdownSingleSelect {
    margin-left: 2%;
}

/* SINGLE COLUMN */

.itemDropdownSingleColumn {
    width: 100%;
    display: inline-block;
    cursor: pointer;
}

.itemDropdownSingleColumn div {
    padding: 8px;
}

.itemDropdownSingleColumn div:hover {
    background-color: #EAEAEA;
}