#toolbarContainer {
    padding-right: 40px;
    padding-left: 40px;
}

.toolbarIcon {
    display: inline-block;
    width: 35px;
    height: 35px;
    margin-right: 20px;
    opacity: 0.8;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}

.toolbarIcon:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

#homeIcon {
    background-image: url("assets/back_to_home_dark_icon.png");
    background-size: cover;
}

#editIcon {
    background-image: url("assets/back_to_home_dark_icon.png");
    background-size: cover;
}

#deleteIcon {
    background-image: url("assets/back_to_home_dark_icon.png");
    background-size: cover;
}