#rightContainerToolbar {
    height: 37px;
}

#toolbarContainer {
    padding-right: 40px;
    padding-left: 40px;
    height: 37px;
    border-bottom: solid 1px #CBCED2;
}

.toolbarIcon {
    display: inline-block;
    width: 35px;
    height: 35px;
    margin-right: 15px;
    opacity: 0.8;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}

.toolbarIcon:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */

}

#homeIcon {
    background-image: url("assets/back_to_home_dark_icon.png");
    background-size: cover;
    cursor: pointer;
}

#editIcon {
    background-image: url("assets/edit_icon_green.png");
    background-size: cover;
    cursor: pointer;
}

#deleteIcon {
    background-image: url("assets/trash_icon_red.png");
    background-size: cover;
    cursor: pointer;
}