doctype html
html
  head
    title="SeeYa"
    link(rel='stylesheet', href='/main.css')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
    link(rel='icon' href='assets/favicon.ico')
  body

    #app-container
    block content
    script(src='https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true&key=AIzaSyD1G_IG2lcziaSIQT5m3FCGY2xKSBMssHM&libraries=places')
    script(src='/main.js')
    script(src='../../common/googleAnalytics.js')