doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/main.css')
    script(src='https://maps.googleapis.com/maps/api/js?sensor=true')
    script(src='/main.js')

  body
    block content