#loginContainer {
}

#areYouNewTopic {
    border-top: 1px solid #4E4E4E;
    padding-top: 35px;
    margin-bottom: 20px;
}

/* Is this needed? T. Joe */
.signupButton a:hover {
    text-decoration: none !important;
}


#loginTopicText {
	margin-bottom: 35px;
}

#loginButton {
/*	margin-bottom: 40px;*/
}

#loginForm {
    margin: auto;
    max-width: 425px;
    width: 90%;
}