#loginContainer {
}

#areYouNewTopic {
    padding-top: 5px;
    margin-bottom: 20px;
}

/* Is this needed? T. Joe */
.signupButton a:hover {
    text-decoration: none !important;
}


#loginTopicText {
	margin-bottom: 35px;
}

#loginButton {
/*	margin-bottom: 40px;*/
}

#loginForm {
    margin: auto;
    max-width: 425px;
    width: 90%;
}

#loginPageFacebookButton {
    margin-top: 14px;
}