.centeredHeader {
	text-align: center;
}

.datepicker__input{
	width:100%;
}

.full-width{
	width:100%;
}

.description {
	height: 400px;
}

.form input{
    color: black !important;
}


#category-dropdown-eventform {
    position: relative;
    display: inline-block;
    color: #000;
    width:100%;
    /*border: 1px solid #ABABAB; */
}

#category-content-eventform {
    width: 100% !important;
    display: none;
    position: absolute;
    bottom: 40px;
    color: #000;
    background-color: #FFF;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
    max-height: 300px;
    overflow-y: scroll;
}

#categories-content-eventform li {
    list-style-type: none;
}

#category-select-eventform {
    width: 100% !important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 10px 20px 10px 10px;
    text-decoration: none;
    background-color: #FFF;
    border: 1px solid #FFF;
    margin-right: 15px;
}

#category-select-eventform:hover {
    cursor: pointer;
    text-decoration: none;
}
