.eventListNameLink {
	cursor: pointer;
	color: #337ab7;
}

.eventListNameLink:hover { 
    text-decoration: underline;
    color: #23527c;
}

.eventList-table {
	width: 100%;
}

/* FILTERS */

.eventList-filter-bar {
    border-top: 1px solid #eee;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 60px;
    width: 100%;
    display: flex;
}

/* Category */

#categoriesContentEventList {
    width: 150px;
    display: none;
    position: absolute;
    bottom: 40px;
    color: #000;
    background-color: #FFF;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    max-height: 300px;
    overflow-y: scroll;
}

#categoriesContentEventList li {
    list-style-type: none;
}

.dropdownBtnEventList {
    width: 150px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    color: #000000;
    background: #ffffff;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    background-color: rgba(0,0,0,0.35);
    color: #FFF;
    border: 1px solid #FFF;
    height: 40px;
    margin-right: 15px;

}

.dropdownBtnEventList:hover {
    cursor: pointer;
   text-decoration: none;
}

.item {
    cursor: pointer;
}

.select-dropdown {
    flex: 0 0 65%;
}

/* Time */

#select-fromTimestamp {
    background-color: rgba(0,0,0,0.35);
    color: #FFF;
    border: 1px solid #FFF;
    padding: 10px 20px 10px 20px;
    flex: 1;
    height: 40px;
}

#select-toTimestamp {
    background-color: rgba(0,0,0,0.35);
    color: #FFF;
    border: 1px solid #FFF;
    padding: 10px 20px 10px 20px;
    flex: 1;
    height: 40px;    
}

.eventList-date-select {
    width: 100%;
}

/* Styles for custom zoom control */

.mapControlDiv {
    position: absolute;
    padding-top: 56px;
    padding-left: 3px;
}

.mapControlWrapper {
    cursor: pointer;
    text-align: center;
    width: 32px;
    height: 65px;
}

.mapZoomInButton {
    width: 32px;
    height: 32px;
    font-size: 25px;
    background-color: rgba(0,0,0,.60);
}

.mapZoomOutButton {
    width: 32px;
    height: 32px;
    font-size: 25px;
    background-color: rgba(0,0,0,.60);
    margin-top: 1px;
}