#eventFormContainer {
}

#eventForm input{
    color: black !important;
    background-color: #FFF;
}

.centeredHeader {
	text-align: center;
    margin-bottom: 35px;
}

.datepicker__input{
	width:100%;
}

/***********************/
/*   TABLET / MOBILE   */
/***********************/
@media (max-width: 799px) {

    #eventFormContainer {
        padding-bottom: 75px; /* So that user can see the last input field */
    }

}



/*** ADDRESS ***/

#addressError {
    display: block;
}

#syncAddressCheckbox {
    position: relative;
    top: 2px;
    margin-right: 5px;
}

#syncAddressText {
    display: inline-block;
    font-weight: bold;
}

/*** DATE ***/

.dateInputField {
    color: black;
}
/*
.dropdown-menu {
    top: 0px !important;
}
*/


.input-group-addon {
    cursor: pointer;
}

/*** CATEGORY ***/

.validationError {
    position: relative;
    top: -7px;
}

/*** DESCRIPTION ***/


#description {
    min-height: 50px;
    resize: vertical;
    max-height: 500px;
    overflow: hidden;
}

#charactersLeft {
    display: none;
    position: relative;
    top: -7px;
}