.eventPageContainer {
    padding: 40px;
}

.participantTable {
	width:100%;
}

.descriptionRow {
    display: block;
}

.centeredVertHor {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}